[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh/plugins/dircolors-solarized"]
	path = shell/plugins/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
